MatlabClient01/Connected Services/MatlabClient01/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MechanismIMatlabInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SampleMatlabSvcNetNamedPipeEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MatlabSvc" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatlabInterface_callMATLABfunction_1_InputMessage">
    <wsdl:part name="parameters" element="tns:callMATLABfunction_1" />
  </wsdl:message>
  <wsdl:message name="IMatlabInterface_callMATLABfunction_1_OutputMessage">
    <wsdl:part name="parameters" element="tns:callMATLABfunction_1Response" />
  </wsdl:message>
  <wsdl:message name="IMatlabInterface_callMATLABfunction_2_InputMessage">
    <wsdl:part name="parameters" element="tns:callMATLABfunction_2" />
  </wsdl:message>
  <wsdl:message name="IMatlabInterface_callMATLABfunction_2_OutputMessage">
    <wsdl:part name="parameters" element="tns:callMATLABfunction_2Response" />
  </wsdl:message>
  <wsdl:portType name="IMatlabInterface">
    <wsdl:operation name="callMATLABfunction_1">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatlabInterface/callMATLABfunction_1" message="tns:IMatlabInterface_callMATLABfunction_1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatlabInterface/callMATLABfunction_1Response" message="tns:IMatlabInterface_callMATLABfunction_1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="callMATLABfunction_2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatlabInterface/callMATLABfunction_2" message="tns:IMatlabInterface_callMATLABfunction_2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatlabInterface/callMATLABfunction_2Response" message="tns:IMatlabInterface_callMATLABfunction_2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleMatlabSvcNetNamedPipeEndPoint" type="tns:IMatlabInterface">
    <wsp:PolicyReference URI="#SampleMatlabSvcNetNamedPipeEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="callMATLABfunction_1">
      <soap12:operation soapAction="http://tempuri.org/IMatlabInterface/callMATLABfunction_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callMATLABfunction_2">
      <soap12:operation soapAction="http://tempuri.org/IMatlabInterface/callMATLABfunction_2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MechanismIMatlabInterface">
    <wsdl:port name="SampleMatlabSvcNetNamedPipeEndPoint" binding="tns:SampleMatlabSvcNetNamedPipeEndPoint">
      <soap12:address location="net.pipe://matlabsvc/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://matlabsvc/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ARAGORN\cpeppler</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>